html {
    width: 100%;
    height: 80%;
    margin: none;

}

body {
    height: auto;
}

.container {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

#title {
    padding: 1rem;
    margin-left: 5rem;

    display: flex;
    align-content: center;
    border-bottom: solid;
    border-width: 1px;

    width: 100%;
    font-size: 3rem;
}
#name {
    padding: 1rem;
    display: flex;
    justify-content: end;

    font-size: 1rem;
}

#content {
    padding: none;
    margin: 20px;
    display: block;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: auto;
}

.circle-wrapper {
    border:solid;
    border-width: 1px;
    border-radius: 15px;
    margin: 1rem;
    width: auto;
    height: 100%;
}

#circle-graphic {
    display: flex;
    align-items: center;

    padding-top: none;

    height:100%;
    width:100%;
}

.box {
    width: 100%;
}

#content-wrapper {
    display: none;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    margin: 1rem;
    width: auto;
    height: 100%;
}

#content-parent{
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    margin: 1em;
    height: auto;
    width: 100%;
}

.display-mode {
    display: flex;
    justify-content: space-evenly;
    padding: none;
    width: 100%;
}

#scales, #chords{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.harmony-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    width: 100%;
}

.harmony{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    text-align: center;
    font-size: .7rem;
    width: 100%;
}

.harmony:hover {
    background-color: rgb(249, 251, 212);
    cursor: pointer;
}

.display-wrapper {
    position: relative;
    width: auto;
    height: 100%;
    padding: none;
}

#user-message {
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
    display: solid;
}

#chord-display {
    
    height: 100%;
    width: 100%;
    position: absolute;

    border: solid;
    border-width: 0px;
}

#chord-display {
    display: grid;
    grid-template-areas:
    "tonic tonic tonic"
    "chord2 chord3 chord4"
    "chord5 chord6 chord7";
}

#chord1 {
    grid-area: tonic;
}
#chord2 {
    grid-area: chord2;
}
#chord3 {
    grid-area: chord3;
}
#chord4 {
    grid-area: chord4;
}
#chord5 {
    grid-area: chord5;
}
#chord6 {
    grid-area: chord6;
}
#chord7 {
    grid-area: chord7;
}

.chord-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: solid;
    border-width: .5px;
}

#chords:hover, #scales:hover {
    background-color: rgb(249, 251, 212);
    cursor: pointer;
}

#scale-display {
    display: grid;
    grid-template-columns: 1fr 7fr;
    position: absolute;
    width: 100%;
    height:100%;
}
#scale-content, #scale-name-container{
    display: grid;
    height:auto;
}

.scale-name{
    padding: 1rem;
    
    display:flex;
    align-items: center;

    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;

    height: 4.7vh;

    font-size: .8rem;
}

.mode {
    padding: 1rem;
    padding-right: none;

    display: flex;
    justify-content:space-between;

    border-bottom: solid;
    border-right: solid;
    border-width: 1px;

    font-size: 1rem;
}

.note-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}