html {
    width: 100%;
    height: 100%;
    margin: none;
    overflow-y: hidden;
}

#title {
    padding: 2rem;

    display: flex;
    justify-content: center;
    
    font-size: 2rem;
}

#content {
    padding: none;
    margin: 20px;
    display: block;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: auto;
}

.circle-wrapper {
    width: auto;
}

#content-wrapper {
    padding-top: 10%;

    display: none;
    grid-template-rows: .5fr .5fr 5fr;
    
    width: 100%;
    height: auto;
}

.display-mode {
    display: flex;
    justify-content: space-evenly;
    padding: none;
    width: 100%;
}

#scales, #chords {
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.harmony-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    width: 100%;
}

.harmony:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.display-wrapper {
    position: relative;
    width: auto;
    height: auto;
    padding: none;
}

#user-message {
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
    display: solid;
}

#chord-display {
    
    height: 80%;
    width: 100%;
    position: absolute;

    border: solid;
    border-width: 0px;
}

#chord-display {
    display: grid;
    grid-template-areas:
    "tonic tonic tonic"
    "chord2 chord3 chord4"
    "chord5 chord6 chord7";
}

#chord1 {
    grid-area: tonic;
}
#chord2 {
    grid-area: chord2;
}
#chord3 {
    grid-area: chord3;
}
#chord4 {
    grid-area: chord4;
}
#chord5 {
    grid-area: chord5;
}
#chord6 {
    grid-area: chord6;
}
#chord7 {
    grid-area: chord7;
}

.chord-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: solid;
    border-width: .5px;
}

#chords:hover, #scales:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

#scale-display {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100%;
    position: absolute;
}

.scale-name{
    padding: 1rem;
    
    display:flex;
    align-items: center;

    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;

    height: 3vh;
    width: auto;

    font-size: 1.5vh;
}

.mode {
    padding: 1rem;
    padding-right: none;

    display: flex;
    justify-content:space-between;

    border-bottom: solid;
    border-right: solid;
    border-width: 1px;

    height: 3vh;
    width: auto;

    font-size: 2vh;
}

.note-container {
    display: flex;
    justify-content: space-around;
}