article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    border-style: solid;
    border-width: 0.1em;
}

.circle-wrapper {
    background: #eee;
    padding: 1em;
}

.content-wrapper {
    background: #eee;
    display: grid;
    grid-template-rows: .5fr .5fr 5fr;
    padding: none;
}

#title {
    background: #eee;
    display: flex;
    justify-content: center;
    border: solid;
    border-bottom: none;
    border-width: 1px;
    font-size: 2em;
    padding: 10px;
    height: auto;
    width: 100%;
    margin: 0em;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: none;
    width: auto;
}

#scales, #chords {
    border: solid;
    border-bottom: none;
    border-top: none;
    border-width: 1px;
    color: black;
    background-color: #eee;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}


.harmony-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
}

.harmony {
    border: solid;
    border-width: 1px;
}

.harmony:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.display-wrapper {
    position: relative;
    width: auto;
    border-left: solid;
    border-width: 1px;
    padding: none;
}

#user-message {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    visibility: visible;
}

#scale-display {
    height: 100%;
    width: 100%;
    position: absolute;
    color: black;
    font-size: 1.4em;
}

#chord-display {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    position:absolute
}

.chordBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-width: 1px;
}

#chord-display:nth-child(2n-1) {
    background-color: #ddd;
    opacity: 0.4;
}

#chords:hover, #scales:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

#ionian, .modeDiv {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-decoration-color: black;
    padding: none;
}


.note-container {
    display: flex;
    justify-content: space-around;
    border: solid;
    border-width: 0.2px;
    padding: 1em;
}
