.box {
  font-family: 'Courier New';
  fill: black;
  font-size: 30%;
  border: none;
}

path {
  fill: #89a0f3;
  opacity: 0.7;
  text-align: center;
}

path:hover {
  opacity: .9;
}
  
#major-key {
  font-size: 100%;
}
  
#minor {
  font-size: 90%;
}
  
#accidentals {
  font-size: 70%;
}

#centre {
  opacity: 1;
}

text {
  pointer-events: none;
  cursor: default;
}