.box {
  font-family: 'Courier New';
  fill: black;
  font-size: 30%;
  border: none;
}

path {
  fill: rgb(69, 69, 250);
  opacity: 0.3;
  text-align: center;
}

path:hover {
  opacity: .5;
}
  
#major-key {
  font-size: 100%;
}
  
#minor {
  font-size: 90%;
}
  
#accidentals {
  font-size: 70%;
}

#centre {
  opacity: 1;
}

text {
  pointer-events: none;
  cursor: default;
}