header {
    display: flex;
    justify-content: space-between;
}

#title {
    display: flex;
    align-content: center;
}

#name {
    display: flex;
    justify-content: end;
    align-items: center;
}


.circle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#user-message {
    text-align: center;
}

#content-wrapper {
    display: none;
    grid-template-rows: 1fr 1fr 5fr;
}

.display-mode {
    display: flex;
    justify-content: space-around;
}

.harmony-container {
    display: flex;
}

.harmony {
    display: inline-block;
}

.display-wrapper {
    position: relative;
}

#chord-display {
    position: absolute;
    display: grid;
    grid-template-areas:
    "tonic tonic toggle"
    "chord1 chord2 chord3"
    "chord4 chord5 chord6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5rem;

}

#toggle-container {
    grid-area: toggle 1fr;

}
#chord0{
    grid-area: tonic;
}
#chord1 {
    grid-area: chord1;
}

#chord2 {
    grid-area: chord2;
}

#chord3 {
    grid-area: chord3;
}

#chord4 {
    grid-area: chord4;
}

#chord5 {
    grid-area: chord5;
}

#chord6 {
    grid-area: chord6;
}

#toggle-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.chord{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}



#scale-display {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: .5rem;
}

.scale-box {
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-gap: .5rem;
}

.name {
    display: flex;
    align-content: center;
    
    align-items: center;
    
}

.mode {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.note-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1025px) {
    #content {
        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
    #title {
        font-size: 3rem;
    }
  }
@media (max-width: 1025px){
    #content {
        display: block;
        grid-template-rows: 20% 60%;
        grid-gap: 2rem;

    }
    #title {
        font-size: 2rem;
    }
}