html {
    padding: 1rem;
    font-size: 1rem;
}
header {
    margin: 0rem 0rem .5rem .5rem;
    border-bottom: solid;
}

.container{
    padding: 1rem;
    border: none;
    border-radius: 15px;   
}

.container > div {
    border: none;
    border-radius: 10px;
}

.display-mode > button{font-size: 1.5rem;}
.harmony{font-size: 1rem;}

button{
    border: none;
    border-radius: 5px;
    margin: .2rem;
    box-shadow: 1px 1px 2px 1px rgba(53, 53, 53, 0.219);
    font-family: inherit;
}

#chords #harmMajor{
    border-radius: 0px 5px 5px 0px;
}
#scales #major {
    border-radius: 5px 0px 0px 5px;
}

.chord, .scale-box > div{
    padding: 0rem .5rem 0rem .7rem;
    box-shadow: 1px 1px 2px 1px rgba(53, 53, 53, 0.219);
    border-radius: 10px;
}

.toggle-message{
    font-size: .7rem;
}