@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

:root{
  --main-bg-color: rgb(255, 255, 255);
  --b-bg-color: #f8f5f5;
  --harmony-colour:#f0f0f0;
  --button-color: rgb(224, 235, 240);
  --table-color: rgb(255, 255, 255);
}

body {
  background-color: var(--main-bg-color);
}
.circle-wrapper, #content-wrapper{
  background-color: var(--b-bg-color);

  box-shadow: 6px 6px 2px 1px rgba(53, 53, 53, 0.356);
}
.display-mode > button{
  background-color: var(--button-color);
}
.harmony-container{
  background-color: var(--harmony-color);
  box-shadow: 1px 1px 2px 1px rgba(53, 53, 53, 0.356);
}
.display-mode > button:hover {
  background-color: rgb(243, 246, 172);
  cursor: pointer;
}
.harmony > button:hover {
  background-color: rgb(249, 251, 212);
  cursor: pointer;
}

.chord-container{
  font-size: 1rem;
}

.mode, .name, .chord{
  background-color: var(--table-color);
  font-size: .8rem;
}

body, button{
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-weight: lighter;
  font-style: oblique;
}
header, #user-message, footer{
  color:rgb(68, 44, 0);
}