:root{
  --main-bg-color: rgb(255, 255, 255);
  --b-bg-color: #f8f5f5;
  --harmony-colour:#f0f0f0;
  --button-color: rgb(224, 235, 240);
  --table-color: rgb(255, 255, 255);
}

body {
  background-color: var(--main-bg-color);
}
.circle-wrapper, #content-wrapper{
  background-color: var(--b-bg-color);

  box-shadow: 6px 6px 2px 1px rgba(53, 53, 53, 0.356);
}
#scales, #chords{
  background-color: var(--button-color);
}
.harmony-container{
  background-color: var(--harmony-color);
  box-shadow: 1px 1px 2px 1px rgba(53, 53, 53, 0.356);
}
.mode, .scale-name, .chord{
  background-color: var(--table-color);
  font-size: .8rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;

}
  
.title, .harmony {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
header, #user-message, footer{
  color:rgb(68, 44, 0);
}
