doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='css/theme.css' type='text/css')
        link(rel='stylesheet' href='css/format.css' type='text/css')
        link(rel='stylesheet' href='css/graphic.css' type='text/css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    body
        .container
            header
                #title Circle of Fifths
            article
                .circle-wrapper
                    include circle.pug
                .content-wrapper
                    header
                        #scales Scales and Modes
                        #chords Chords
                    .harmony-container
                        button.harmony#major Major
                        button.harmony#melMinor Melodic Minor
                        button.harmony#harmMinor Harmonic Minor
                        button.harmony#harmMajor Harmonic Major
                    .display-wrapper
                        #scale-display
                            #ionian
                            #dorian
                            #phrygian
                            #lydian
                            #mixolydian
                            #aeolian
                            #locrian

                        #chord-display
                            #chord1
                            #chord2
                            #chord3
                            #chord4
                            #chord5
                            #chord6
                            #chord7

                        #user-message
                            p Choose a Key on The Circle

            footer
                span Tomas Sarosi

        script(src='js/jquery.js' type="text/javascript")
        script(src='js/music.js' type="text/javascript")
        script(src='js/newScript.js' type="text/javascript")