doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='css/theme.css' type='text/css')
        link(rel='stylesheet' href='css/format.css' type='text/css')
        link(rel='stylesheet' href='css/graphic.css' type='text/css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    body
        .container
            header
                #title Circle of Fifths
            article
                .circle-wrapper
                    include circle.pug
                .content-wrapper
                    header
                        #scales Scales and Modes
                        #chords Chords
                    .harmony-container
                        button.harmony#major Major
                        button.harmony#melMinor Melodic Minor
                        button.harmony#harmMinor Harmonic Minor
                        button.harmony#harmMajor Harmonic Major
                    .display-wrapper
                        #scale-display
                            #ionian
                                #i1
                                #i2
                                #i3
                                #i4
                                #i5
                                #i6
                                #i7
                            #Dorian
                                #d1
                                #d2
                                #d3
                                #d4
                                #d5
                                #d6
                                #d7
                            #phrygian
                                #p1
                                #p2
                                #p3
                                #p4
                                #p5
                                #p6
                                #p7
                            #lydian
                                #l1
                                #l2
                                #l3
                                #l4
                                #l5
                                #l6
                                #l7
                            #mixolydian
                                #m1
                                #m2
                                #m3
                                #m4
                                #m5
                                #m6
                                #m7
                            #Aolian
                                #a1
                                #a2
                                #a3
                                #a4
                                #a5
                                #a6
                                #a7
                            #locrian
                                #loc1
                                #loc2
                                #loc3
                                #loc4
                                #loc5
                                #loc6
                                #loc7

                        #chord-display
                            #chord1
                            #chord2
                            #chord3
                            #chord4
                            #chord5
                            #chord6
                            #chord7

                        #user-message
                            p Choose a Key on The Circle

            footer
                span Tomas Sarosi
        
        script(src='js/arrayExtensions.js' type="module")
        script(src='js/music.js' type="text/javascript")
        script(src='js/script.js' type="text/javascript")