html
    head
      meta(charset='utf-8')
      title Functional Harmony
      link(rel='stylesheet', href='style.css')
      link(rel='stylesheet', href='format.css')
      link(rel='stylesheet', href='graphic.css')
    body
      .container
        header
            #title Circle of Fifths
        article
            .circle-wrapper
                include circle.pug
            div
              .content-title
                span Scales and Modes
              .harmony-container
                  div Major
                  div Melodic Minor
                  div Harmonic Minor
                  div Harmonic Major
              .display-wrapper
                  .dropdown-scale-display
                      - i = 0
                      while i++ < 8
                          div
                  .dropdown-chord-display
                      - i = 0
                      while i++ < 8
                          div
        footer
            span Tomas Sarosi
        script(src="home.js")
