doctype html
html
    head
      meta(charset='utf-8')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      // TODO there is a bunch more here - you can add
      title Functional Harmony
      // TODO ultimately want one request for these 
      // TODO look at bundlers/minifiers
      // TODO SASS
      // CSS should go at the top
      link(rel='stylesheet', href='theme.css')
      link(rel='stylesheet', href='style.css')
      link(rel='stylesheet', href='format.css')
      link(rel='stylesheet', href='graphic.css')
    body
      .container
        header
            #title Circle of Fifths
        article
            .circle-wrapper
                include circle.pug
            div
              .content-title
                span Scales and Modes
              .harmony-container
                  div Major
                  div Melodic Minor
                  div Harmonic Minor
                  div Harmonic Major
              .display-wrapper
                  .dropdown-scale-display
                      - i = 0
                      while i++ < 8
                          div
                  .dropdown-chord-display
                      - i = 0
                      while i++ < 8
                          div
        footer
            span Tomas Sarosi
        // javascript should go at the bottom
        script(src="home.js")
