.container {
    display: grid;
    grid-template-areas:
        "header"
        "article"
        "footer"
    ;
}
header {
    grid-row: 1;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
}
footer{
    grid-row: 3;
}
header, footer{
    text-align: center;
}
.content-title{
}
.circle-wrapper object {
    width: 100%;
}
.box text{
    text-align: center;
}
.harmony-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.harmony-container > div {
    flex: 1;
}
