#segment {
    fill: blue;
    opacity: 0.2;
}

.segment:hover {
  opacity: 1;
}
  
#major {
  font-size: 30%;
}
  
#minor {
  font-size: 25%;
}
  
#accidentals {
  font-size: 70%;
}

#centre {
  opacity: 1;
}

.box {
  font-family: 'Courier New';
  fill: black;
  font-size: 30%;
  border: solid;
  border-width: 1px;
}

tspan {
  font-size: 100%;
}