.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  border-style: solid;
  border-width: 0.2em;
}

.circle-wrapper {
  background: #eee;
  padding: 1em;
  
}
.content-wrapper {
  background: #eee;
  display: grid;
  grid-template-rows: .5fr 5fr;
  padding: 1em;
}


#segment {
    fill: blue;
    opacity: 0.2;
}

.segment:hover {
  opacity: 1;
}
  
#major {
  font-family: courier;
  font-weight: bold;
  fill: black;
  stroke: yellow;
  stroke-width: 0.1;
  font-size: 30%;
}
  
#minor {
  font-family: courier;
  font-weight: bold;
  fill: black;
  stroke: yellow;
  stroke-width: 0.1;
  font-size: 25%;
}
  
#accidentals {
  font-family: courier;
  font-weight: bold;
  fill: black;
  stroke: yellow;
  stroke-width: 0.1;
  font-size: 70%;
}

#centre {
  opacity: 1;
}

.box {
  font-family: courier;
  font-weight: bold;
  fill: black;
  stroke: yellow;
  stroke-width: 0.1;
  font-size: 30%;
  border: solid;
  border-width: 0.1em;
}
  
.title {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-style: oblique;
  font-size: 80px;
  border: solid;
  border-width: 0.1em;
  padding: 10px;
  height: auto;
  margin: 0em;
  
}

.left-side {
  display: flex;
  justify-content: flex-start;
}

.right-side {
  max-width: 20%;
  display: flex;
  justify-content: flex-end;

}

.nav-wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-size: 20;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#home{
  text-decoration: none;
  color: black;
}

#segment :hover {
  opacity: 1;
}

.content-title {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-style: oblique;
  border: solid;
  border-width: 0.1em;
  padding: 10px;
}

.dropdown-content ul{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-left: 0px;
  border-style: solid;
  border-color: black;
 
}

.dropdown-content li{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  width: 20%;
  list-style-type: none;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.dropdown-content li:hover{
  background-color:gray;
  color: white;
}

.drop-button {
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
  padding: 10px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  transition-duration: 0.3s;
  width: 20%;
  height: 80%;
  cursor: pointer;
  display:flex;
  justify-content: flex-start;
}

.drop-button:hover {
  background-color: gray;
  color: white;
}

.dropdown-scale-display {

  border-style: solid;
  border-width: 1px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1em;
}

.dropdown-scale-display > a:nth-child(2n-1) {
  background-color: #ddd;
  opacity: 0.4;
}

.triangle {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
