.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-style: oblique;
}

.title, #harmonic-type {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-style: oblique;
}

#harmonic-type {
  font-size: 15px;
}

.user-message {
  font-size: 70px;
}