body {
  font-family: sans-serif;
}
/* use relative em sizes */
.small {
  font-size: 0.8rem;
}
.large {
  font-size: 2rem;
}

header {
  /* NOTE the use of css variables */
  color: var(--co5-primary-red);
}
